<h1>Simple Page</h1>
<p>Simple page with app reverse text</p>
<form action="/reverse" method="post" accept-charset="utf-8">
<input type="text" name="post[rtext]" value="write your text" id="rtext" /><br />
<input type="submit" value="send">
</form>